/* ------------------------------ header */
.header-subcontent p {
  line-height: 25px;
  color: #7a7a7a;
}

.header-subcontent a {
  color: #7a7a7a;
  text-decoration: underline;
}

/* ------------------------------- about info */

.about-main {
  max-width: 900px;
  margin: 0 auto;
}

.about-info h2 {
  font-size: 20px;
  color: #2c2c2c;
}

.about-info p {
  font-size: 16px;
  color: #838383;
  font-weight: 700;
}

/* footer */

footer {
  background-color: #2e2e2e;
  color: white;
}
